#gameUI {
    position: absolute;
    min-width: 806px;
    min-height: 600px;
}

#rightPanel {
    position: relative;
    float: right;
    margin: 2px;
    margin-left: 0px;
    text-align: right;
    font-size: 28px;
    width: 266px;
    height: 600px;
    background-color: #CCCCCC;
    border: 0px;
    border-left: 2px;
    border-right: 2px;
    border-color: #010120;
    border-style: solid;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#questionPanel {
    float: left;
    background-color: #CCCCCC;
    display: none;
    width: 532px;
    height: 70px;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    margin-top: 520px;
    margin-left: 2px;
    margin-right: 0px;
    border: 0px;
    border-top: 2px;
    border-color: #010120;
    border-style: solid;
}

#timeAndScore {
    background-color: #2D2D33;
    color: #F8F8FE;
    margin: 20px;
    padding: 5px;
    font-size: 32px;
    text-align: left;
    border-radius: 2px;
}

#scoreChange {
    padding: 0px;
    margin: 20px;
    margin-bottom: 40px;
    color: green;
    opacity: 0;
    font-size: 28px;
}

#time {
    float: right;
}

#score {
    float: right;
}

/*
    Loading 
*/

#loadingUI {
    position: absolute;
    min-width: 536px;
    min-height: 610px;
    z-index: 4;
    display: none;
}

#beginButton {
    display: none;
    width: 150px;
    margin: auto;
    margin-top: 50px;
    font-size: 28px;
}

#loadingMessage {
    font-size: 60px;
    text-align: left;
    padding-top: 200px;
    padding-left: 150px;
}

/*
    completed
*/

#gameCompletedUI {
    position: absolute;
    min-width: 536px;
    min-height: 610px;
    z-index: 4;
    display: none;
    font-size: 36px;
    text-align: center;
}

#gameCompletedReturnButton {
    display: none;
}