/* Main Game UI */

#gameUI {
    margin: 0px;
    text-align: center;
    background-color: transparent;
    cursor: default;
}

#rightPanel {
    position: relative;
    float: right;
    background-color: #CCCCCC;
    font-size: 28px;
    width: 298px;
    height: 600px;
    border: 0px;
    border-left: 2px;
    border-color: #010120;
    border-style: solid;
    text-align: right;
}

#questionPanel {
    position: relative;
    float: left;
    background-color: #CCCCCC;
    font-size: 22px;
    width: 700px;
    height: 70px;
    border: 0px;
    border-top: 2px;
    border-color: #010120;
    border-style: solid;
    padding-top: 10px;
    margin-top: 518px;
}

#timeAndScore {
    background-color: #2D2D33;
    color: #F8F8FE;
    margin: 15px;
    padding: 10px;
    font-size: 32px;
    text-align: left;
    border-radius: 2px;
}

.scoreChange {
    padding: 0px;
    margin: 20px;
    margin-bottom: 40px;
    color: green;
    opacity: 0;
}
.scoreChange.incorrect {
    color: red;
}

#time {
    float: right;
}

#score {
    float: right;
}

/* Loading UI */

#loadingUI {
    position: absolute;
    min-width: 700px;
    min-height: 610px;
}

#beginButton {
    width: 150px;
    margin: auto;
    margin-top: 50px;
    font-size: 28px;
}

#loadingMessage {
    font-size: 60px;
    text-align: left;
    padding-top: 200px;
    padding-left: 230px;
}

.readyText {
    padding-left: 0px !important;
    text-align: center !important;
}

/* Animation for score flash-in-out */

@-moz-keyframes flashInOut {
    0%   { opacity: 0; }
    37%  { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes flashInOut {
    0%   { opacity: 0; }
    37%  { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes flashInOut {
    0%   { opacity: 0; }
    37%  { opacity: 1; }
    100% { opacity: 0; }
}

.flashInOut {
    -webkit-animation-name: flashInOut;
       -moz-animation-name: flashInOut;
            animation-name: flashInOut;
    -webkit-animation-duration: 800ms;
       -moz-animation-duration: 800ms;
            animation-duration: 800ms;
}

.flashInOut.long {
    -webkit-animation-name: flashInOut;
       -moz-animation-name: flashInOut;
            animation-name: flashInOut;
    -webkit-animation-duration: 3s;
       -moz-animation-duration: 3s;
            animation-duration: 3s;
}

/* Game Completed UI */

#gameCompletedUI {
    position: absolute;
    font-size: 56px;
    width: 700px;
    padding-top: 50px;
}

.button.incorrect {
    background-color: red !important;
}

.returnButton {
    font-size: 28px;
    width: 150px;
    margin: auto !important;
}