#mainMenuUI {
    background-color: #CCCCCC;
    /*user-select: none;*/ /* Note: If this ever gets spec, you can uncomment this */
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

#mainMenuLeft {
    max-width: 534px;
    min-width: 534px;
    float: left;
}

#mainMenuTitle {
    color: black;
    font-size: 55px;
    margin-top: 34px;
    text-align: center;
}

#topicList {
    font-size: 22px;
    max-height: 400px;
    min-height: 400px;
    height: inherit;
    overflow: auto;
    margin: 25px;
}

div.topic {
    height: 160px;
    cursor: pointer;
}

img.topicImage {
    float: left;
    margin: 15px;
}

div.topicDescription {
    font-size: 15px;
}

#mainMenuRight {
    float: right;
    text-align: center;
    padding-top: 70px;
    font-size: 24px;
}

/* High Scores */

#highScores{
    white-space: nowrap;
    height: 200px;
    width: 266px;
    font-size: 16px;
}

#names {
    padding: 0px;
    text-align: left;
    float: left;
    width: 120px;
    height: 200px;
    overflow: hidden;
}

#scores {
    padding: 0px;
    text-align: right;
    float: right;
    width: 70px;
    height: 200px;
    overflow: hidden;
}

/*
    Start Button
*/

.button.greenButton {
    background-color: #6BC026;
}

.button.greenButton:hover {
    background-color: #53951D;
}


/*
    Tutorial Button
*/

.button.blueButtonMenu {
    background-color: #002AA8;
    font-size: 26px;
    width: 170px;
    margin: auto;
}

.button.blueButtonMenu:hover {
    background-color: #001D75;
}

/*
    Tutorial UI
*/

#tutorialUI {
    width: 500px;
    display: none;
    padding: 25px;
    margin: 0px;
    font-size: 28px;
}

/*
    HighScore Button
*/

#mainMenuHighScoreButton {
    background-color: #4D4D62;
    color: #F8F8FE;
    font-size: 40px;
    margin-top: 34px;
    margin-left: 89px;
    margin-right: 89px;
    height: 50px;
}

#mainMenuHighScoreButton:hover {
    background-color: #53495E;
}

#mainMenuHighScoreButton:active {
    background-color: #EFE1FE;
}

/*
    Options pane - TODO: REMOVE?
*/

#options {
    position: absolute;
    float: left;
    margin: 2px;
    opacity: 0.95;
    text-align: center;
    font-size: 30px;
    width: 300px;
    height: 40px;
}

#optionsButton {
    width: 35px;
    height: 35px;
    overflow: hidden;
    background-color: white;
    opacity: 0.2;
    border: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-color: black;
    border-style: solid;
    transition-property: width, height, opacity, border-right-width, border-bottom-width;
    transition-duration: 0.5s, 0.5s, 0.5s, 0.5s, 0.5s;
    transition-delay: 0s, 0s, 0s, 0s, 0s;
}

#optionsButton:hover {
    opacity: 1.0;
    height: 200px;
    width: 300px;
    border-right: 2px;
    border-bottom: 2px;
    border-color: black;
    border-style: solid;
}

#radioButtons {
    font-size: 14px;
}