/* 
    Document   : MenuScreen
    Created on : Aug 2, 2013, 1:29:19 PM
    Author     : connor
    Description:
        Purpose of the stylesheet follows.
*/
#mainMenuUI
{
    position: absolute;
    min-width: 536px;
    min-height: 600px;
    max-width: 536px;
    max-height: 600px;
    z-index: 5;
    background-color: #E3E3FE;
    border: 2px;
    border-style: solid;
    border-color: #010120;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
  
#mainMenuTitle
{
    color: #10011F;
    font-size: 55px;
    margin-top: 34px;
    text-align: center; 
}

/*
    Start Button
*/
#mainMenuPlayButton
{
    background-color: #4D4D62;
    color: #F8F8FE;
    font-size: 50px;
    margin-top: 89px;
    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 34px;
}

#mainMenuPlayButton:hover
{
    background-color: #53495E;
}

#mainMenuPlayButton:active
{
    background-color: #EFE1FE;
}

/*
    Tutorial Button
*/

#mainMenuTutorialButton
{
    background-color: #4D4D62;
    color: #F8F8FE;
    font-size: 50px;
    margin-top: 55px;
    margin-left: 89px;
    margin-right: 89px;
}

#mainMenuTutorialButton:hover
{
    background-color: #53495E;
}

#mainMenuTutorialButton:active
{
    background-color: #EFE1FE;
}

/*
    HighScore Button
*/

#mainMenuHighScoreButton
{
    background-color: #4D4D62;
    color: #F8F8FE;
    font-size: 40px;
    margin-top: 34px;
    margin-left: 89px;
    margin-right: 89px;
    height: 50px;
}

#mainMenuHighScoreButton:hover
{
    background-color: #53495E;
}

#mainMenuHighScoreButton:active
{
    background-color: #EFE1FE;
}

/*
    Options pane
*/

#options
{
    position: absolute;
    float: left;
    margin: 2px;
    opacity: 0.95;
    text-align: center;
    font-size: 30px;
    width: 300px;
    height: 40px;
}

#optionsButton
{
    width: 35px;
    height: 35px;
    overflow: hidden;
    background-color: white;
    opacity: 0.2;
    border: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-color: black;
    border-style: solid;
    transition-property: width, height, opacity, border-right-width, border-bottom-width;
    transition-duration: 0.5s, 0.5s, 0.5s, 0.5s, 0.5s;
    transition-delay: 0s, 0s, 0s, 0s, 0s;
}

#optionsButton:hover
{
    opacity: 1.0;
    height: 200px;
    width: 300px;
    border-right: 2px;
    border-bottom: 2px;
    border-color: black;
    border-style: solid;
}

#radioButtons
{
    font-size: 14px;
}