#mainMenuUI {
    background-color: #CCCCCC;
    font-size: 22px;
}

h1.mainMenuTitle {
    font-size: 55px;
    margin: 0px;
    margin-top: 34px;
}

div.topic {
    height: 160px;
    cursor: pointer;
}

img.topicImage {
    float: left;
    margin: 15px;
}

div.topicDescription {
    font-size: 15px;
}

#mainMenuLeft {
    max-width: 534px;
    min-width: 534px;
    float: left;
}

#mainMenuRight {
    float: right;
    text-align: center;
    padding-top: 70px;
}

#topicList {
    max-height: 400px;
    min-height: 400px;
    height: inherit;
    overflow: auto;
    margin: 25px;
}

/* High Scores */

#highScores{
    white-space: nowrap;
    height: 200px;
    width: 266px;
    font-size: 16px;
    overflow: hidden;
    padding: 0px;
}

#names {
    text-align: left;
    float: left;
    width: 170px;
}

#scores {
    text-align: right;
    float: right;
    width: 70px;
}

/*
    Start Button
*/

.button.greenButton {
    background-color: #6BC026;
}

.button.greenButton:hover {
    background-color: #53951D;
}


/*
    Tutorial Button
*/

.button.blueButtonMenu {
    background-color: #002AA8;
    font-size: 26px;
    width: 170px;
    margin: auto;
}

.button.blueButtonMenu:hover {
    background-color: #001D75;
}

/*
    Tutorial UI - TODO Remove?
*/

#tutorialUI {
    width: 500px;
    display: none;
    padding: 25px;
    margin: 0px;
    font-size: 28px;
}