/* Classes */

body
{
    margin: 0px;
    padding: 0px;
    background-color: #F8F8FE;
    font-family: "Times New Roman", Arial;
}

canvas
{
    border-style: solid;
    border-width: 2px;
    border-color: #010120;
    margin: 0px;
    background: #E3E3FE;
}

div.button
{
    text-align: center;
    background-color: #4D4D62;
    margin: 20px;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

div.button:hover
{
    background-color: #E3E3FE;
}

div.button:active
{
    background-color: #EFE1FE;
}

a.headerLinks:link {
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

a.headerLinks:visited {
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

a.headerLinks:hover {
    color: red;
    text-decoration: none;
}

/* Parent Div Elements */

#game
{
    min-width: 804px;
    min-height: 64px;
}

#container
{
    max-width: 804px;
    max-height: 604px;
    margin: auto;
}

#pageHeader {
    background-color: blue;
}

#exscitechLinks {
    color: white;
    text-align: center;
}

#dockingLogo {
    float: right;
}