#tutorialUI {
	width: 662px;
	height: 562px;
	margin: 2px;
	padding: 17px;
    font-size: 28px;
    border: 0px;
}

.returnMenuButton {
    font-size: 28px;
    width: 150px;
    margin: auto !important;
    margin-top: 60px !important;
}