body
{
    margin: 0px;
    padding: 20px;
    background-color: #3D3D3D;
}

canvas
{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin: 0px;
    background: gray;
}

div.button
{
    text-align: center;
    background-color: #000099;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

div.button:hover
{
    background-color: gray;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

div.button:active
{
    background-color: purple;
}

#game
{
    min-width: 810px;
    min-height: 610px;
}

#container
{
    max-width: 810px;
    max-height: 610px;
    margin: auto;
}

#gameUI
{
    position: absolute;
    min-width: 810px;
    min-height: 610px;
    z-index: 2;
}

#menu
{
    position: relative;
    float: left;
    margin: 5px;
    text-align: left;
    font-size: 34px;
    width: 300px;
    height: 40px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#menuButton
{
    width: 40px;
    overflow: hidden;
    background-color: yellow;
    opacity: 0.2;
    transition-property: width, opacity;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0s, 0s;
}

#menuButton:hover
{
    opacity: 1.0;
    width: 300px;
}

#rightPanel
{
    position: relative;
    float: right;
    margin: 5px;
    text-align: right;
    font-size: 34px;
    width: 300px;
    height: 600px;
    background-color: #F2F2F2;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#timeAndScore
{
    background-color: black;
    color: white;
    margin: 20px;
    padding: 5px;
    margin-bottom: 70px;
    font-size: 32px;
    text-align: left;
    border-radius: 5px;
}

#time
{
    float: right;
}

#score
{
    float: right;
}