/* Classes */

body
{
    margin: 0px;
    padding: 20px;
    background-color: #3D3D3D;
    font-family: "Times New Roman", Arial;
}

canvas
{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin: 0px;
    background: gray;
}

div.button
{
    text-align: center;
    background-color: #1414FF;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

div.button:hover
{
    background-color: #0000C7;
}

div.button:active
{
    background-color: purple;
}

/* Parent Div Elements */

#game
{
    min-width: 810px;
    min-height: 610px;
}

#container
{
    max-width: 810px;
    max-height: 610px;
    margin: auto;
}

/* Main Menu UI Components */

#mainMenuUI
{
    position: absolute;
    min-width: 495px;
    min-height: 600px;
    max-width: 495px;
    max-height: 600px;
    z-index: 3;
    background-color: gray;
    border: 5px;
    border-style: solid;
    border-color: black;
}

#mainMenuTitle
{
    color: #F2F2F2;
    font-size: 80px;
    text-align: center;
    text-shadow: -1px -1px 0 #000000,
                  1px -1px 0 #000000,
                 -1px  1px 0 #000000,
                  1px  1px 0 #000000;
}

#mainMenuStart
{
    background-color: #00A300;
    color: #F2F2F2;
    font-size: 50px;
    margin: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#mainMenuStart:hover
{
    background-color: #007000;
}

#mainMenuStart:active
{
    background-color: purple;
}

#mainMenuTutorial
{
    background-color: #E60000;
    color: #F2F2F2;
    font-size: 50px;
    margin: 100px;
    margin-top: 10px;
}

#mainMenuTutorial:hover
{
    background-color: #B30000;
}

#mainMenuTutorial:active
{
    background-color: purple;
}

#mainMenuTutorial
{
    background-color: #E60000;
    color: #F2F2F2;
    font-size: 50px;
    margin: 100px;
    margin-top: 10px;
    margin-bottom: 40px;
}

#mainMenuTutorial:hover
{
    background-color: #B30000;
}

#mainMenuTutorial:active
{
    background-color: purple;
}

#mainMenuHighScore
{
    background-color: #B300B3;
    color: #F2F2F2;
    font-size: 40px;
    margin: 100px;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 50px;
}

#mainMenuHighScore:hover
{
    background-color: #800080;
}

#mainMenuHighScore:active
{
    background-color: yellow;
}

/* Game UI Components */

#gameUI
{
    position: absolute;
    min-width: 810px;
    min-height: 610px;
    z-index: 2;
}

#menu
{
    position: relative;
    float: left;
    margin: 5px;
    text-align: center;
    font-size: 30px;
    width: 300px;
    height: 40px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#menuButton
{
    width: 35px;
    height: 35px;
    overflow: hidden;
    background-color: white;
    opacity: 0.2;
    border: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-color: black;
    border-style: solid;
    transition-property: width, height, opacity, border-right-width, border-bottom-width;
    transition-duration: 0.5s, 0.5s, 0.5s, 0.5s, 0.5s;
    transition-delay: 0s, 0s, 0s, 0s, 0s;
}

#menuButton:hover
{
    opacity: 1.0;
    height: 200px;
    width: 300px;
    border: 0px;
    border-right: 5px;
    border-bottom: 5px;
    border-color: black;
    border-style: solid;
}

#radioButtons
{
    font-size: 14px;
}

#rightPanel
{
    position: relative;
    float: right;
    margin: 5px;
    text-align: right;
    font-size: 34px;
    width: 300px;
    height: 600px;
    background-color: #F2F2F2;
    border: 0px;
    border-left: 5px;
    border-color: black;
    border-style: solid;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#timeAndScore
{
    background-color: black;
    color: white;
    margin: 20px;
    padding: 5px;
    margin-bottom: 70px;
    font-size: 32px;
    text-align: left;
    border-radius: 5px;
}

#time
{
    float: right;
}

#score
{
    float: right;
}

/* High Score UI Components */

#highScoreUI
{
    position: absolute;
    min-width: 800px;
    min-height: 600px;
    max-width: 800px;
    max-height: 600px;
    z-index: 2;
    background-color: gray;
    border: 5px;
    border-style: solid;
    border-color: black;
    display: none;
}

#highScoreUI
{
    color: #F2F2F2;
    font-size: 50px;
    text-align: center;
    text-shadow: -1px -1px 0 #000000,
                  1px -1px 0 #000000,
                 -1px  1px 0 #000000,
                  1px  1px 0 #000000;
}

#highScoreContainer
{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 35px;
    font-size: 40px;
    text-shadow: none;
    white-space: nowrap;
}

#names
{
    padding: 0px;
    text-align: left;
    float: left;
    width: 200px;
    height: 450px;
    overflow: hidden;
}

#scores
{
    padding: 0px;
    text-align: right;
    float: right;
    width: 200px;
    height: 450px;
    overflow: hidden;
}